# Built objects
bin/
gen/
obj/

# Gradle files
.gradle/
build/
app/build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
*.swp
*~
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile

# APKs and outputs
*.apk
*.ap_
*.aab
output.json

# Keystore files
*.jks
*.keystore
*.p12
*.pfx

# Secrets
google-services.json
google-services.xml
fabric.properties

# Android Profiling
*.hprof

# Artifacts & Scratch
.artifacts/
scratch/
